<!DOCTYPE html>
<html>

<head>

<title>CyberDefender-SIEM Dashboard</title>

</head>

<body>

<h1>CyberDefender-SIEM Dashboard</h1>

<h2>Statistics</h2>

<p>Total Logs : {{ total }}</p>

<p>Successful Logins : {{ success }}</p>

<p>Failed Logins : {{ failed }}</p>

<hr>

<form method="GET">

<input
type="text"
name="search"
placeholder="Search Username"
value="{{ search }}">

<select name="event">

<option value="">All Events</option>

<option value="LOGIN_SUCCESS"
{% if event=="LOGIN_SUCCESS" %}
selected
{% endif %}
>
LOGIN_SUCCESS
</option>

<option value="LOGIN_FAILED"
{% if event=="LOGIN_FAILED" %}
selected
{% endif %}
>
LOGIN_FAILED
</option>

</select>

<input
type="submit"
value="Search">

</form>

<br>

<table border="1">

<tr>

<th>Timestamp</th>

<th>Event</th>

<th>User</th>

<th>IP Address</th>

</tr>

{% for log in logs %}

<tr>

<td>{{ log[0] }}</td>

<td>{{ log[1] }}</td>

<td>{{ log[2] }}</td>

<td>{{ log[3] }}</td>

</tr>

{% endfor %}

</table>

<br>
<br><br>

<a href="/export">

<button>

Export Logs (CSV)

</button>

</a>

<br><br>

<a href="/alerts">View Recent Alerts</a>

</body>

</html>