<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login Activity Timeline</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

    <h1>🕒 Login Activity Timeline</h1>

</header>

<div class="container">

    <table>

        <thead>

            <tr>

                <th>Timestamp</th>
                <th>Event</th>
                <th>User</th>
                <th>IP Address</th>

            </tr>

        </thead>

        <tbody>

        {% for log in logs %}

            <tr>

                <td>{{ log[0] }}</td>

                <td>

                    {% if log[1] == "LOGIN_SUCCESS" %}

                        <span class="success-text">
                            🟢 {{ log[1] }}
                        </span>

                    {% else %}

                        <span class="failed-text">
                            🔴 {{ log[1] }}
                        </span>

                    {% endif %}

                </td>

                <td>{{ log[2] }}</td>

                <td>{{ log[3] }}</td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

    <br>

    <a href="/" class="alerts-btn">

        🏠 Back to Dashboard

    </a>

</div>

<footer>

    <p>

        CyberDefender-SIEM © 2026 | Login Activity Timeline

    </p>

</footer>

</body>

</html>